</div><!-- end .container.constrained -->
</main>
</section><!-- end .content-bg -->

<footer>
    <div class="footer" >
        <div class="container">

            <div class="badges align-center">
                <span class="badge-ssl"><img src="images/badges/badge-ssl.png"></span>
                <span class="badge-secured"><img src="images/badges/badge-secure.png"></span>
            </div>

            <p>&copy;Australian Insure. All Rights Reserved.</p>

            <nav>
                <a href="/confirmation">Apply</a> |
                <a href="/contact">Contact Us</a> |
                <a href="/privacy">Privacy Policy</a> |
                <a href="/terms">Terms &amp; Conditions</a>
            </nav>

            <p class="disclaimer">Disclaimer: australianinsure.com is a referral service. We provide general information only and we do not offer financial advice. We refer all life insurance enquiries that are initiated on this website to specialist advisers who are licensed in providing life insurance quotes. You should always seek professional advice before making important financial decisions.</p>
            <small>&copy; Copyright 2018, <%= copyright %></small>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>