<!doctype html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="Life insurance, Australia, Compare, Quotes">

    <link rel="shortcut icon" href="http://localhost:3029<%= favicon %>" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icomoon.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', ''); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=344940275962794&ev=PageView&noscript=1"
        /></noscript>

</head>

<body>

<section class="content-bg">

    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="http://localhost:3029<%= logo %>" alt="Australian Insure">
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="container constrained">
