<%- include('partials/header') %>

<h2>Contact Us</h2><br>
<hr>

<p><%= content %></p>

<div class="contact-box">
    <a href="mailto:info@australianinsure.com">info@australianinsure.com</a>
</div>

<%- include('partials/footer') %>
