<%- include('partials/header') %>
<div class="confirmation-intro align-center">
    <h2>Congratulations</h2>
    <p>You have just made a decision that your family will thank you for one day. <br><b>Next, speak with
            your advisor.</b></p>
</div>

<div class="divider"></div>

<div class="call-box">
    <h2>We're Calling...</h2>
    <p>Ready for your life insurance quotes? Your dedicated insurance advisor will be calling any minute
        now! If you are unable to take a call now, please reply to the email we sent you and advise us of
        the best time to call.</p>
</div>
<%- include('partials/footer') %>
